/* File Created: October 3, 2012 */
.validation1
        {
        width: 720px;
        border-width: 1px;
        border-style: solid;
        border-color: #C3D9FE;
        background-color: #EEF5FF;
        
        
        padding-bottom: 10px;
        font: 11px Verdana;
        color: #8598B9;
        background-image: url(../Images/Infobox/Info.gif);
        background-position: 10px 6px;
        background-repeat: no-repeat;
        margin: 3px;
        overflow:hidden;
        }
        
.validation2
        {
        border: 1px solid #C3D9FE;
        padding: 8px 35px;
        color: #8598B9;
        background: #EEF5FF url(../Images/Infobox/Info.gif) 10px 6px no-repeat;
        margin: 3px;
        }
        
.errorValidationEN {
         color:#D63301;
         border: 1px solid #D63301;
        
         padding-left:20px;
         
         background-color: #FFCCBA;
         background-image: url('../Images/validation32.png');
         background-position:  left  center;
         background-repeat: no-repeat;
         margin: 15px 0px 15px 0px ;
        }
        
.errorValidationAR {
    color:#D63301;
    border: 1px solid #D63301;

    padding-right:20px;
         
    background-color: #FFCCBA;
    background-image: url('../Images/validation32.png');
    background-position: right center;
    background-repeat: no-repeat;
    margin: 15px 0px 15px 0px ;
}

.warningValidationEN {
       color: #9F6000;
       border: 1px solid #9F6000;
       background-color: #FEEFB3;
       background-image: url('../Images/Attention.png');
       padding-left:20px;
       background-position: left  center;
       background-repeat: no-repeat; 
}

.warningValidationAR {
       color: #9F6000;
       border: 1px solid #9F6000;
       background-color: #FEEFB3;
       background-image: url('../Images/Attention.png');
       padding-right:20px;
       background-position: right  center;
       background-repeat: no-repeat; 
}

.AlertGapsAttendanceAR 
{
       color: #9F6000;
       border: 1px solid #9F6000;
       background-color: #FEEFB3;
       background-image: url('../Images/Attention.png');
       /*padding-right:20px;*/
       background-position: right  center;
       background-repeat: no-repeat; 
       padding: 15px 40px 15px 15px;
       width: auto;
       
}

.AlertGapsAttendanceEN
{
       color: #9F6000;
       border: 1px solid #9F6000;
       background-color: #FEEFB3;
       background-image: url('../Images/Attention.png');
       /*padding-left:20px;*/
       background-position: left  center;
       background-repeat: no-repeat;
       padding: 15px 15px 15px 40px;
       width: auto;
}


