<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <configSections>
    <sectionGroup name="system.web">
      <section name="sanitizer" requirePermission="false" type="AjaxControlToolkit.Sanitizer.ProviderSanitizerSection, AjaxControlToolkit" />
    </sectionGroup>
    <sectionGroup name="elmah">
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <elmah>
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="Elmah.ConnectionString" />
    <!--<errorLog type="SqlErrorLog" connectionStringName="ElmahSqlServer1" />-->
    <!--
            Use to send error reports by e-mail and adjust the attributes
            according to settings desired. Note that only the from and
            to attributes are required. The rest are optional and may
            be removed. If the SMTP server does not require authentication,
            you MUST remove the userName and password attributes or
            set them to empty values (resulting in zero-length strings).
            If you are using ELMAH compiled for .NET Framework 1.x, then
            the to attribute may contain multiple recipient addresses,
            each of which must be delimited by a semi-colon(;). If you are 
            using ELMAH compiled for .NET Framework 2.0 or later, then the
            to attribute may contain multiple recipient addresses,
            each of which must be delimited by a comma (,).

        <errorMail 
            from="elmah@example.com" 
            to="admin@example.com" 
            subject="..."
            async="true|false"
            smtpPort="25"
            smtpServer="smtp.example.com" 
            userName="johndoe"
            password="secret" />
        -->
    <!--
            Use to prevent errors from being mailed or logged based on
            assertions/conditions provided under the <test> element.
            The example below will filter errors of type HttpException
            where the status code is 404 (in other words, where the
            resource was not found).

        <errorFilter>
            <test>
                <equal binding="HttpStatusCode" value="404" valueType="Int32" />
            </test>
        </errorFilter>
        -->
  </elmah>
  <appSettings>
    <add key="ChartImageHandler" value="storage=memory;timeout=20;" />
    <add key="Url.WSFingerprintTools" value="http://192.168.0.50/AMS_WSFingerprintTools/WSFingerprintTools.asmx" />
    <add key="Main.ConnectionString" value="Data Source=50.62.35.11;Initial Catalog=AIC-AMS_DB; Integrated Security=False; Persist Security Info=True; User ID = ams; Password = 123123123;" />
    <!--<add key="Main.ConnectionString" value="Data Source=50.62.35.11;Initial Catalog=NewAMS; Integrated Security=False; Persist Security Info=True; User ID = sa; Password = 123123;" />-->
    <!--<add key="Main.ConnectionString" value="Data Source=PROJ-SERVER;Initial Catalog=AMSWEB;User ID =sa;Password =admin@123;Integrated Security=False;Persist Security Info=True" />-->
    <!--<add key="Main.ConnectionString" value="Data Source=PROJ-SERVER;Initial Catalog=AMSWEBDB_GACA_12082015;User ID =sa;Password =admin@123;Integrated Security=False;Persist Security Info=True" />-->
    <!--<add key="Main.ConnectionString" value="Data Source=DEV-SERVER;Initial Catalog=amswebdb_final; Integrated Security=False; Persist Security Info=True; User ID = sa; Password = admin123;" />-->
    <!--<add key="Main.ConnectionString" value="Data Source=DEV-SERVER;Initial Catalog=AMSWEBDB_BorderGuard27102015; Integrated Security=False; Persist Security Info=True; User ID = sa; Password = admin123;" />-->
    <!--<add key="Main.ConnectionString" value="Data Source=PROJ-SERVER;Initial Catalog=AMSWEBDB_Almaalim_23022016; Integrated Security=False; Persist Security Info=True; User ID = sa; Password = admin@123;" />-->
    <!--<add key="Main.ConnectionString" value="DA2N1gK2ZxZRQ8QZPl6/xd5FDVgFisTp4s0Y5+6FwinzPG7z1JrzViwZdF2IYPZ6rFL7yVN1SZ0ZzjDF5DfRST0xhmHJEN5fa12Jw8kJUTgxip/e4azmMSvgpLLuzNwvb30190/oHrhNRGPGhaDjIahAd4tcnvl9ZrBpEJtSAwiqbEkQucoR8qzBKgIJFIemIWb3ozJBirU=" />-->
    <add key="Encryption.ConnectionString" value="0" />
  </appSettings>
  <connectionStrings>
    <add name="Elmah.ConnectionString" connectionString="Data Source=50.62.35.11;Initial Catalog=AMS_FINAL; Integrated Security=False; Persist Security Info=True; User ID = sa; Password = 123123;" />
    <!--<add name="Elmah.ConnectionString" connectionString="Data Source=dev-Mainserver\devmainsql2008;Initial Catalog=AIC-AMS_DB; Integrated Security=False; Persist Security Info=True; User ID = sa; Password = admin@456;" />-->
    <!--<add name="Elmah.ConnectionString" connectionString="DA2N1gK2ZxZRQ8QZPl6/xd5FDVgFisTp4s0Y5+6FwinzPG7z1JrzViwZdF2IYPZ6rFL7yVN1SZ0ZzjDF5DfRST0xhmHJEN5fa12Jw8kJUTgxip/e4azmMSvgpLLuzNwvb30190/oHrhNRGPGhaDjIahAd4tcnvl9ZrBpEJtSAwiqbEkQucoR8qzBKgIJFIemIWb3ozJBirU=" />-->
  </connectionStrings>
  <system.web>
    <customErrors mode="Off" />
    <trust level="Full" />
    <sanitizer defaultProvider="HtmlAgilityPackSanitizerProvider">
      <providers>
        <add name="HtmlAgilityPackSanitizerProvider" type="AjaxControlToolkit.Sanitizer.HtmlAgilityPackSanitizerProvider">
        </add>
      </providers>
    </sanitizer>
    <globalization culture="auto" uiCulture="auto" enableClientBasedCulture="true" />
    <!--<httpRuntime requestValidationMode="2.0"/>-->
    <httpRuntime executionTimeout="90" maxRequestLength="2097151" />
    <!--2097151 kb = 2GB = Max-->
    <authentication mode="Windows">
    </authentication>

    <siteMap enabled="true" defaultProvider="SiteMapFun">
      <providers>
        <clear/>
        <add name="SiteMapFun" type="SiteMapFun"/>
      </providers>
    </siteMap>

    <!--<identity impersonate="true" />-->
    <sessionState mode="InProc" cookieless="false" timeout="20" />
    <trace enabled="false" pageOutput="false" />
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Drawing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Xml, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Configuration, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Services, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.DirectoryServices.Protocols, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.EnterpriseServices, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.ServiceProcess, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.RegularExpressions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
      </assemblies>
    </compilation>
    <!--<customErrors mode="Off" />-->
    <httpHandlers>
      <add path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" />
      <add path="ChartImg.axd" verb="GET,HEAD" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false" />
    </httpHandlers>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <!-- 
                Uncomment the entries below if error mail reporting 
                and filtering is desired.
            -->
      <!--<add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />-->
      <!--<add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah"/>-->
      <!--<add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah"/>-->
      <remove name="PassportAuthentication" />
      <remove name="AnonymousIdentification" />
      <remove name="UrlAuthorization" />
      <remove name="FileAuthorization" />
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" theme="MetroStyle">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.DataVisualization.Charting" assembly="System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
      </controls>
    </pages>

  </system.web>
  <location path="elmah.axd">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>
  <system.webServer>
    <!--<modules runAllManagedModulesForAllRequests="true"/>-->
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorTweet" type="Elmah.ErrorTweetModule, Elmah" preCondition="managedHandler" />
    </modules>
    <handlers>
      <add name="Elmah" path="elmah.axd" verb="POST,GET,HEAD" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      <remove name="ChartImageHandler" />
      <add name="ChartImageHandler" preCondition="integratedMode" verb="GET,HEAD,POST" path="ChartImg.axd" type="System.Web.UI.DataVisualization.Charting.ChartHttpHandler, System.Web.DataVisualization, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
    <defaultDocument>
      <files>
        <clear />
        <add value="login.aspx" />
        <add value="default.aspx" />
        <add value="Default.htm" />
        <add value="Default.asp" />
        <add value="index.htm" />
        <add value="index.html" />
        <add value="iisstart.htm" />
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
        <providerOption name="CompilerVersion" value="v4.0" />
        <providerOption name="OptionInfer" value="true" />
        <providerOption name="WarnAsError" value="false" />
      </compiler>
    </compilers>
  </system.codedom>
</configuration>